.book-page{
  width: 100%;
  height: auto;
}

.page{
  width: 100%;
  height: auto;
}

.contact{
  position: absolute;
  top: 30%;
  right: 0px;
}

.input-box{
  position: absolute !important;
  top: 120px !important;
  right: 560px !important;
}