.home-page{
  width: 100%;
  height: auto;
}

.page{
  width: 100%;
  height: auto;
}

.contact{
  position: absolute;
  top: 30%;
  right: 0px;
}

.search-link{
  width: 200px;
  height: 40px;
  position: absolute !important;
  top: 120px !important;
  right: 520px !important;
}